.components__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  min-height: 100vh;
}

/* Button */

.button {
  padding: 16px 20px;
  line-height: 1.2;
  font-size: 18px;
  color: var(--text-primary);
  border: 1px solid var(--text-primary);
  border-radius: 100px;
  display: inline-flex;
  align-items: center;
  gap: 10px;
  transition:
    background-color 0.3s,
    color 0.3s;
}

.button path {
  stroke: var(--text-primary);
  transition: stroke 0.3s;
}

.button:hover {
  color: var(--text-inverse);
  background-color: var(--text-primary);
}

.button:hover path {
  stroke: var(--text-inverse);
}

/* Arrow link */

.arrow-link {
  font-size: 18px;
  line-height: 1.2;
  display: inline-flex;
  align-items: center;
  gap: 12px;
  transition: color 0.3s;
}

.arrow-link path {
  stroke: var(--text-default);
  transition: stroke 0.3s;
}

.arrow-link:hover path {
  stroke: var(--text-primary);
}

.arrow-link:hover {
  color: var(--text-primary);
}

/* red arrow settings*/
.arrow-link--red {
  color: var(--text-primary);
  transition: color 0.3s;
}

.arrow-link--red path {
  stroke: var(--text-primary);
  transition: stroke 0.3s;
}

.arrow-link--red:hover {
  color: var(--text-default);
}

.arrow-link--red:hover path {
  stroke: var(--text-default);
}

/* Arrow link LEFT */

.arrow-link--left {
  flex-direction: row-reverse;
}

.arrow-link--left svg {
  rotate: 180deg;
}

/* Section header (h2) */

.block-header {
  width: 100%; /* optional */
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  gap: 10px 20px;
}
.block-header__title {
  line-height: 1.1;
  font-size: 100px;
  text-transform: uppercase;
}

.block-header__title span {
  text-transform: none;
  color: var(--text-primary);
}

@media (max-width: 991.98px) {
  .block-header__title {
    font-size: 70px;
  }
}

@media (max-width: 767.98px) {
  .block-header__title {
    font-size: 38px;
  }
}

/* Social links menu */
.social {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 10px 30px;
}

.social__link {
  line-height: 1.2;
  font-size: 14px;
  text-transform: uppercase;
  transition: color 0.3s;
}

.social__link:hover {
  color: var(--text-primary);
}
