:root {
  --text-default: #101010;
  --text-primary: #db574d;
  --text-muted: rgba(16, 16, 16, 0.6);
  --text-inverse: #ffffff;
  --border-default: rgba(16, 16, 16, 0.1);
}

body {
  font-family: 'ClashDisplay', sans-serif;
  color: var(--text-default);
}

body.lock {
  overflow: hidden;
}

.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  overflow: clip;
}

.wrapper > main {
  flex-grow: 1;
}

/* WRAPPER CONTAINER 1400px 
- every element that includes class "__container" */
[class*='__container'] {
  padding-inline: 15px;
  max-width: 1430px;
  margin: auto;
}

/* HEADER */

.header {
  z-index: 50;
  position: sticky;
  top: 0;
  padding-block: 50px;
  padding-inline: 40px;
  display: flex;
  gap: 15px;
  justify-content: space-between;
  align-items: center;
  pointer-events: none;
}

.header::before {
  content: '';
  height: 90px;
  width: 100%;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 4;
  background-color: rgba(255, 255, 255, 0.8);
}

.header__logo {
  position: relative;
  z-index: 5;
  line-height: 1.1;
  font-size: 24px;
  text-transform: uppercase;
  transition: color 0.3s;
  pointer-events: all;
}

.header__logo:hover {
  color: var(--text-primary);
}

.menu {
  pointer-events: all;
}

.menu__icon {
  width: 50px;
  height: 23px;
  position: relative;
  z-index: 5;
  pointer-events: all;
}

.menu__icon::before,
.menu__icon::after,
.menu__icon span {
  content: '';
  position: absolute;
  right: 0;
  width: 100%;
  height: 1px;
  background-color: var(--text-default);
  transition: all 0.3s;
}

.menu__icon::before {
  width: 50px;
  top: 0;
}

.menu__icon::after {
  width: 45px;
  bottom: 0;
}

.menu__icon span {
  width: 35px;
  top: 50%;
  margin-top: -0.5px; /*workaround for span position*/
}

.menu__icon:hover::before,
.menu__icon:hover::after,
.menu__icon:hover span {
  background-color: var(--text-primary);
}

.menu-open .menu__icon::before {
  rotate: -45deg;
  top: 50%;
}

.menu__icon small {
  aspect-ratio: 1;
  border-radius: 50%;
  opacity: 0;
  width: 0px;
  position: absolute;
  left: 50%;
  top: 50%;
  translate: -50% -50%;
  border: 1px solid var(--text-primary);
  transition:
    width 0.3s,
    opacity 0.3s;
}

.menu-open .menu__icon small {
  opacity: 1;
  width: 200px;
}

.menu-open .menu__icon::after {
  width: 50px;
  rotate: 45deg;
  bottom: 50%;
}

.menu-open .menu__icon span {
  width: 0;
}

.menu__body {
  padding: 0 0 40px 0;
  display: flex;
  flex-direction: column;
  overflow: auto;
  position: fixed;
  width: 100%;
  height: 100%;
  right: 0;
  top: 0;
  visibility: hidden;
  opacity: 0;
  background-color: #fff;
  transition:
    opacity 0.5s,
    visibility 0.5s;
}

.menu-open .menu__body {
  opacity: 1;
  visibility: visible;
}

.menu__list {
  padding-block: 70px;
  flex-grow: 1;
  display: flex;
  gap: 40px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  counter-reset: item;
}

.menu__item {
  display: flex;
  align-items: center;
  gap: 50px;
}

.menu__item::before {
  font-size: 30px;
  content: counter(item, decimal-leading-zero);
  counter-increment: item;
  color: var(--text-primary);
  transition: color 0.3s;
}

.menu__item:hover::before {
  color: var(--text-default);
}

.menu__link {
  font-size: 100px;
  line-height: 1.1;
  text-transform: uppercase;
  transition: color 0.3s;
}

.menu__link:hover {
  color: var(--text-primary);
}

/* HEADER ADAPTIVE */
@media (max-width: 1430px) {
  .header {
    padding-inline: 15px;
  }
}

@media (max-width: 991.98px) {
  .header {
    padding-block: 30px;
  }

  .header::before {
    height: 80px;
  }

  .menu__list {
    gap: 30px;
  }

  .menu__link {
    font-size: 70px;
  }

  .menu__item {
    gap: 40px;
  }
}

@media (max-width: 767.98px) {
  .header {
    padding-top: 15px;
  }

  .header::before {
    height: 50px;
  }

  .menu__list {
    gap: 20px;
  }

  .menu__link {
    font-size: 38px;
  }

  .menu__item {
    gap: 15px;
  }
}

@media (max-width: 550px) {
  .menu-open .menu__icon small {
    width: 80px;
  }
}

/* MAIN  */
/* page common settings */
.page > *:not([class*='--nomargin']) {
  margin-bottom: 224px;
}

.page__hero {
  margin-bottom: 160px;
}

.page__reviews {
  margin-bottom: 0px;
}

.page > *:last-child {
  margin-bottom: 0;
}

@media (max-width: 1430px) {
  .page > *:not([class*='--nomargin']) {
    margin-bottom: 120px;
  }

  .page__hero {
    margin-bottom: 120px;
  }
}

@media (max-width: 991.98px) {
  .page > *:not([class*='--nomargin']) {
    margin-bottom: 80px;
  }

  .page__hero {
    margin-bottom: 80px;
  }
}

@media (max-width: 767.98px) {
  .page > *:not([class*='--nomargin']) {
    margin-bottom: 30px;
  }

  .page__hero {
    margin-bottom: 30px;
  }
}

/* HERO SECTION */

.hero {
  padding-top: 24px;
}

.hero__container {
  display: flex;
}

.hero__content {
  position: relative;
  /* 944.67(maket block title size) / 1400 (main container) = 67.4% */
  flex-basis: 67.4%;
  padding-top: 77px;
}

.hero__header {
  display: inline-block;
}

.hero__header:not(:last-child) {
  margin-bottom: 150px;
}

.hero__title {
  color: var(--text-primary);
  font-size: 200px;
  line-height: 0.9;
}

.hero__title:not(:last-child) {
  margin-bottom: 11px;
}

.hero__sub-title {
  color: var(--text-default);
  font-size: 60px;
  line-height: 1.1;
  text-transform: uppercase;
}

.hero__sub-title span {
  display: inline-block;
}

.hero__sub-title span:first-child {
  /* 20% - 180 (left margin span:first-child)/ 945 (title weight) */
  margin-left: 19%;
}

.hero__sub-title span:last-child {
  /* 20% - 273 (left margin span:last-child)/ 945 (title weight) */
  margin-left: 29%;
}

.author {
  display: flex;
  align-items: flex-end;
}

.author__image {
  aspect-ratio: 1;
  width: 180px;
  object-fit: cover;
}

.author__image:not(:last-child) {
  margin-bottom: 10px;
}

.author__caption {
  line-height: 1.6;
}

.author__action {
  background-color: var(--text-primary);
  aspect-ratio: 1;
  width: 140px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  text-transform: uppercase;
  color: var(--text-inverse);
  font-size: 18px;
  line-height: 1.2;
  /* btn move to left on 30px / btn size 140 = 21.42% */
  /* btn moves to bottom on 27px / btn sixe 140 = 19.28% */
  translate: -21.42% 19.28%;
}

.author__action::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 140px;
  aspect-ratio: 1;
  border-radius: 50%;
  border: 1px solid var(--text-primary);
  transition: all 0.3s;
}

.author__action:hover:before {
  width: 160px;
  left: 10px;
  top: -9px;
}

.hero__media {
  /* 32.5% = 100% - 67.4% (media block size) */
  flex-basis: 32.5%;
}

/* additional wrap for hero image */
.hero__body {
  /* add this margin to adaptive min 767.98 */
  /* margin-left: -65.25%; */
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.hero__image {
  width: 100%;
}

.scroll-hero {
  display: flex;
  gap: 21px;
  align-items: center;
  /* margin-right 100 / 751.54 (image size) = 13.31% */
  margin-right: 13.31%;
}

.scroll-hero::before {
  content: '';
  background: url(../assets/images/icons/arrow-down.svg) 0 bottom / 100%
    no-repeat;
  width: 20px;
  height: 88px;
}

.scroll-hero__label {
  line-height: 1.6;
  padding: 21px 0 15px 0;
  transition: color 0.3s;
}

.scroll-hero:hover {
  color: var(--text-primary);
}

/* HERO ADAPTIVE */

@media (max-width: 1430px) {
  .hero__content {
    padding-top: 50px;
  }

  .hero__title {
    font-size: 170px;
  }

  .hero__header:not(:last-child) {
    margin-bottom: 130px;
  }

  .hero__sub-title {
    font-size: 40px;
  }
}

@media (max-width: 1220px) {
  .hero__content {
    padding-top: 30px;
  }

  .hero__title {
    font-size: 140px;
  }

  .hero__header:not(:last-child) {
    margin-bottom: 80px;
  }

  .hero__sub-title {
    font-size: 30px;
  }
}

@media (max-width: 991.98px) {
  .hero {
    padding-top: 0;
  }

  .hero__header:not(:last-child) {
    margin-bottom: 50px;
  }

  .hero__content {
    padding-top: 10px;
  }

  .hero__title {
    font-size: 100px;
  }

  .hero__sub-title {
    font-size: 25px;
  }
}

@media (min-width: 767.98px) {
  .hero__body {
    margin-left: -65.25%;
  }
}

@media (max-width: 767.98px) {
  .hero__picture {
    display: none;
  }

  .hero__container {
    flex-direction: column;
  }

  .hero__content {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .hero__content::before {
    content: '';
    position: absolute;
    inset: 0;
    width: 100vw;
    margin-inline: calc(50% - 50vw);
    background-image: url(/assets/images/hero-block/main-photo.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -1;
  }

  .hero__title {
    font-size: 125px;
  }

  .hero__sub-title {
    font-size: 35px;
  }

  .author {
    align-self: flex-start;
  }

  .scroll-hero {
    gap: 12px;
    margin-right: 0%;
  }
}

@media (max-width: 650px) {
  .hero__title {
    font-size: 80px;
  }

  .hero__sub-title {
    font-size: 20px;
  }
}

@media (max-width: 430px) {
  .hero__title {
    font-size: 60px;
  }

  .hero__sub-title {
    font-size: 15px;
  }

  .author__image {
    width: 140px;
  }

  .author__caption {
    font-size: 15px;
  }

  .author__action {
    width: 130px;
    font-size: 15px;
    line-height: 1.2;
  }

  .author__action::before {
    content: '';
    width: 130px;
  }

  .author__action:hover:before {
    width: 140px;
    left: 7px;
    top: -6px;
  }

  .scroll-hero {
    gap: 5px;
  }

  .scroll-hero::before {
    content: '';
    width: 15px;
    height: 55px;
  }

  .scroll-hero__label {
    font-size: 15px;
    line-height: 1.2;
    padding: 10px 0 1px 0;
  }
}

@media (max-width: 360px) {
  .author__action {
    translate: -20% -3%;
  }
}

/* SERVICES BLOCK */
.services__container {
  position: relative;
  max-width: 1230px;
  display: flex;
  align-items: flex-start;
  gap: 20px;
}

.services__title {
  display: flex;
  align-items: center;
  gap: 10px;
  line-height: 1.6;
}

.services__title::before {
  content: '';
  height: 1px;
  width: 15px;
  background-color: var(--text-default);
}

.services__list {
  counter-reset: item;
}

.services__item {
  position: relative;
  padding-left: 13.875%; /* 111/800 */
}

.services__item::before {
  position: absolute;
  top: 0;
  left: 0;
  counter-increment: item;
  content: counter(item, decimal-leading-zero);
  color: var(--text-primary);
  font-size: 30px;
  line-height: 1.2;
}

.services__item:not(:last-child) {
  margin-bottom: 50px;
  border-bottom: 1px solid var(--border-default);
  padding-bottom: 50px;
}

.services__name {
  font-size: 30px;
  line-height: 1.2;
  text-transform: uppercase;
  transition: color 0.3s;
}

.services__name:not(:last-child) {
  margin-bottom: 20px;
}

.services__name:hover {
  color: var(--text-primary);
}

.services__description {
  font-size: 18px;
  line-height: 1.6;
}

.services__description p:not(:last-child) {
  margin-bottom: 10px;
}

/* SERVICES ADAPTIVE  */
@media (max-width: 991.98px) {
  .services__title {
    top: 110px;
  }

  .services__item:not(:last-child) {
    margin-bottom: 30px;
    padding-bottom: 30px;
  }

  .services__name:not(:last-child) {
    margin-bottom: 15px;
  }
}

@media (max-width: 767.98px) {
  .services__container {
    flex-direction: column;
  }

  .services__title {
    top: 60px;
  }

  .services__item::before {
    font-size: 24px;
  }

  .services__item:not(:last-child) {
    margin-bottom: 20px;
    padding-bottom: 20px;
  }

  .services__name {
    font-size: 24px;
  }

  .services__name:not(:last-child) {
    margin-bottom: 10px;
  }
}

/* mobile first */
@media (min-width: 768px) {
  /* 1200(container)-800(serv.list)-20(gap)=380px */
  .services__title {
    flex: 1 1 380px;
    position: sticky;
    top: 140px;
  }

  .services__list {
    flex: 1 1 800px;
  }
}

@media (min-width: 992px) {
  .services__title {
    /* 144(left padding title) / 1230 (container) = 11.707317 */
    padding-left: 11.707317%;
  }
}

/* LATEST WORK section */
.latest-work__block-header:not(:last-child) {
  margin-bottom: 128px;
}

.latest-work__items {
  display: flex;
  /* 190px / 1430(container size) */
  gap: 13.566713%; /* 190/1430 */
}

.latest-work__column {
  display: flex;
  flex-direction: column;
  row-gap: 128px;
}

.latest-work__column:first-child .item-work:nth-child(2n) {
  align-self: center;
}

.latest-work__column:last-child .item-work:nth-child(2n-1) {
  align-self: flex-end;
}

.item-work__link {
  transition: color 0.3s;
}

.item-work__link:hover {
  color: var(--text-primary);
}

.item-work__link:hover .item-work__image {
  scale: 1.01;
}

.item-work__title {
  font-size: 30px;
  line-height: 1.2;
  text-transform: uppercase;
}

.item-work__title:not(:last-child) {
  margin-bottom: 12px;
}

.item-work__title span {
  text-transform: none;
  color: var(--text-primary);
}

.item-work__image {
  transition: scale 0.3s;
}

.item-work__caption {
  padding-top: 12px;
  line-height: 1.6;
}

/* ADAPTIVE latest work */

@media (max-width: 1430px) {
  .latest-work__block-header:not(:last-child) {
    margin-bottom: 80px;
  }

  .latest-work__column {
    row-gap: 80px;
  }
}

@media (max-width: 981.98px) {
  .latest-work__block-header:not(:last-child) {
    margin-bottom: 50px;
  }

  .latest-work__column {
    row-gap: 50px;
  }

  .item-work__title {
    font-size: 26px;
  }
}

@media (max-width: 767.98px) {
  .latest-work__block-header:not(:last-child) {
    margin-bottom: 20px;
  }

  .latest-work__column {
    row-gap: 20px;
  }

  .item-work__title {
    font-size: 20px;
  }
}

@media (max-width: 599.98px) {
  .latest-work__items {
    overflow: auto;
    /* delete right padding in block */
    margin-inline: -15px;
    padding-inline: 15px;
  }

  .latest-work__column {
    flex-direction: row;
    align-items: flex-start;
    column-gap: 30px;
  }

  .item-work {
    flex: 0 0 250px;
  }

  .item-work__title {
    /* height for images alignment */
    min-height: 46px;
  }
}

/* mobile first */
@media (min-width: 600px) {
  .latest-work__column:first-child {
    flex: 1 1 700px;
  }

  .latest-work__column:last-child {
    /* 1400-190-700 = 510px */
    flex: 1 1 510px;
  }
}

/* EXHIBITIONS section */
.exhibitions__block-header:not(:last-child) {
  margin-bottom: 96px;
}

.exhibitions__item {
  display: flex;
  gap: 48px;
  align-items: center;
}

.exhibitions__item:not(:last-child) {
  border-bottom: 1px solid var(--border-default);
  padding-bottom: 50px;
  margin-bottom: 50px;
}

.item-exhibition__picture {
  align-self: flex-start;
  flex-shrink: 0;
  width: 230px;
  aspect-ratio: 1;
  overflow: hidden;
}

.item-exhibition__image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: scale 0.3s;
}

.item-exhibition__image:hover {
  scale: 1.05;
}

.item-exhibition__body {
  align-items: center;
  gap: 48px;
  flex: 1 1 auto;
}

.item-exhibition__content {
  flex: 1 1 auto;
}

/* start indents for all body elems. */
.item-exhibition__content > * {
  margin-bottom: 8px;
}

.item-exhibition__place {
  display: flex;
  align-items: center;
  gap: 10px;
}

.item-exhibition__place span {
  display: flex;
  align-items: center;
  gap: 10px;
}

.item-exhibition__place span:not(:last-child)::after {
  content: '';
  width: 15px;
  height: 1px;
  background-color: var(--text-default);
}

.item-exhibition__title {
  font-size: 40px;
  text-transform: uppercase;
  line-height: 1.1;
  margin-bottom: 20px;
}

.item-exhibition__title span {
  text-transform: none;
  color: var(--text-primary);
}

.item-exhibition__link-title {
  transition: color 0.3s;
}

.item-exhibition__link-title:hover {
  color: var(--text-primary);
}

.item-exhibition__text {
  line-height: 1.6;
}

.item-exhibition__text:not(:last-child) {
  margin-bottom: 10px;
}

/* end of indents for body elems. */
.item-exhibition__content > *:last-child {
  margin-bottom: 0px;
}

.item-exhibition__buy {
  flex-shrink: 0;
}

.item-exhibitions__date {
  flex-shrink: 0;
  color: var(--text-primary);
  font-size: 100px;
  line-height: 1.1;
  text-align: right;
}

.item-exhibitions__date small {
  color: var(--text-primary);
  font-size: 30px;
  display: block;
}

/* ADAPTIVE Exhibition */
@media (max-width: 1430px) {
  .exhibitions__block-header:not(:last-child) {
    margin-bottom: 80px;
  }

  .exhibitions__item:not(:last-child) {
    padding-bottom: 40px;
    margin-bottom: 40px;
  }

  .item-exhibition__picture {
    width: 180px;
  }

  .item-exhibition__title {
    font-size: 30px;
  }

  .item-exhibitions__date {
    font-size: 80px;
  }

  .item-exhibitions__date small {
    font-size: 26px;
  }
}

@media (max-width: 991.98px) {
  .exhibitions__block-header:not(:last-child) {
    margin-bottom: 50px;
  }

  .exhibitions__item {
    gap: 30px;
    /* align-items: flex-start; */
  }

  .exhibitions__item:not(:last-child) {
    padding-bottom: 30px;
    margin-bottom: 30px;
  }

  .item-exhibition__picture {
    width: 150px;
  }

  .item-exhibition__buy {
    margin-top: 8px;
  }

  .item-exhibitions__date {
    font-size: 60px;
  }

  .item-exhibitions__date small {
    font-size: 20px;
  }
}

@media (max-width: 767.98px) {
  .exhibitions__block-header:not(:last-child) {
    margin-bottom: 30px;
  }

  .exhibitions__item {
    gap: 20px;
  }

  .item-exhibition__picture {
    width: 120px;
  }

  .item-exhibition__place {
    gap: 6px;
  }

  .item-exhibition__place span {
    gap: 6px;
    font-size: 14px;
  }

  .item-exhibition__place span:not(:last-child)::after {
    width: 10px;
  }

  .item-exhibition__title {
    font-size: 24px;
    margin-bottom: 10px;
  }

  .item-exhibitions__date {
    font-size: 40px;
  }

  .item-exhibitions__date small {
    font-size: 14px;
  }
}

@media (max-width: 550px) {
  .exhibitions__item {
    flex-wrap: wrap;
    position: relative;
  }

  .item-exhibition__picture {
    flex-grow: 1;
  }

  .item-exhibitions__date {
    background-color: var(--text-inverse);
    border-radius: 5px;
    padding: 10px;
    position: absolute;
    top: 10px;
    left: 10px;
    font-size: 30px;
  }
}

/* mobile first */

@media (min-width: 992px) {
  .item-exhibition__body {
    display: flex;
  }

  .item-exhibition__buy {
    margin-inline: 5.098039%; /* 52(margin) / 1020 (block body size)*/
  }
}

/* REVIEWS section */
.reviews__container {
  display: flex;
  align-items: flex-start;
  gap: 50px;
  position: relative;
}

.reviews__content {
  position: sticky;
  top: 110px;
  flex: 1 1 650px;
}

/* start indents for block */
.reviews__content > * {
  margin-bottom: 16px;
}

.reviews__title {
  font-size: 70px;
  line-height: 1.2;
  text-transform: uppercase;
}

.reviews__title span {
  color: var(--text-primary);
  text-transform: none;
}

.reviews__sub-title {
  font-size: 30px;
  line-height: 1.2;
  text-transform: uppercase;
  margin-bottom: 48px;
}

.reviews__sub-title span {
  color: var(--text-primary);
}

/* end indents for block */
.reviews__content > *:last-child {
  margin-bottom: 0px;
}

.reviews__items {
  flex: 1 1 700px;
  display: flex;
  flex-direction: column;
}

.reviews__item:not(:last-child) {
  border-bottom: 1px solid var(--border-default);
  margin-bottom: 96px;
  padding-bottom: 96px;
}

.item-reviews {
  display: flex;
  gap: 50px;
  align-items: flex-start;
}

.item-reviews__picture {
  aspect-ratio: 1;
  width: 120px;
  flex-shrink: 0;
}

.item-reviews__avatar {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* start indents for block */
.item-reviews__body > * {
  margin-bottom: 24px;
}

.item-reviews__title {
  font-size: 30px;
  line-height: 1.2;
  padding-left: 81px;
  min-height: 51px;
  background: url(../assets/images/icons/brackets.svg) left no-repeat;
}

.item-reviews__text {
  margin-bottom: 40px;
}

.item-reviews__text p {
  line-height: 1.6;
}

.item-reviews__text p:not(:last-child) {
  margin-bottom: 15px;
}

.item-reviews__author {
  font-size: 14px;
  line-height: 1.6;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 0 10px;
}

.item-reviews__author span {
  display: flex;
  align-items: center;
  gap: 10px;
}

.item-reviews__author span:not(:last-child)::after {
  content: '';
  background-color: var(--text-default);
  width: 15px;
  height: 1px;
}

/* end indents for block */
.item-reviews__body > *:last-child {
  margin-bottom: 0px;
}

/* Reviews ADAPTIVE */
@media (max-width: 1430px) {
  .reviews__content {
    flex: 1 1 500px;
  }

  .reviews__items {
    flex: 1 1 800px;
  }

  .reviews__item:not(:last-child) {
    margin-bottom: 55px;
    padding-bottom: 55px;
  }

  .reviews__title {
    font-size: 56px;
  }

  .reviews__sub-title {
    font-size: 22px;
  }

  .item-reviews__title {
    font-size: 22px;
  }
}

@media (max-width: 991.98px) {
  .reviews__container {
    flex-direction: column;
  }

  .reviews__content {
    position: static;
  }

  .reviews__content,
  .reviews__items {
    flex: 1 1 auto;
  }

  .reviews__item:not(:last-child) {
    margin-bottom: 30px;
    padding-bottom: 30px;
  }

  .reviews__sub-title {
    margin-bottom: 25px;
  }

  .reviews__title br,
  .reviews__sub-title br {
    display: none;
  }

  .item-reviews__body > * {
    margin-bottom: 16px;
  }

  .item-reviews__text {
    margin-bottom: 20px;
  }
}

@media (max-width: 676.98px) {
  .reviews__title br {
    display: initial;
  }
}

@media (max-width: 479.98px) {
  .reviews__title {
    font-size: 42px;
  }

  .item-reviews {
    gap: 20px;
  }

  .reviews__sub-title {
    font-size: 18px;
  }

  .item-reviews__title {
    font-size: 18px;
    padding-left: 35px;
    min-height: 20px;
    background: url(../assets/images/icons/brackets.svg) 0 0 / 20px no-repeat;
  }

  .reviews__button {
    width: 100%;
  }

  .item-reviews__picture {
    width: 70px;
  }
}

/* LETS WORK section */
.lets-work {
  padding-block: 224px;
}

.lets-work__container {
  display: flex;
  justify-content: center;
}

.lets-work__link {
  display: flex;
  align-items: center;
  gap: 100px;
}

.lets-work__circle {
  position: relative;
  background-color: var(--text-primary);
  aspect-ratio: 1;
  width: 200px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  text-transform: uppercase;
  color: var(--text-inverse);
  font-size: 24px;
  line-height: 1.2;
}

.lets-work__circle::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 200px;
  aspect-ratio: 1;
  border-radius: 50%;
  border: 1px solid var(--text-primary);
  transition: all 0.3s;
}

.lets-work__link:hover .lets-work__circle::before {
  width: 220px;
  left: 10px;
  top: -10px;
}

.lets-work__title {
  text-transform: uppercase;
  font-size: 100px;
  line-height: 1.2;
}

.lets-work__title span {
  text-transform: none;
  color: var(--text-primary);
}

/* LETS WORK ADAPTIVE */
@media (max-width: 1430px) {
  .lets-work {
    padding-block: 150px;
  }

  .lets-work__link {
    gap: 80px;
  }

  .lets-work__title {
    font-size: 80px;
  }
}

@media (max-width: 991.98px) {
  .lets-work {
    padding-block: 100px;
  }

  .lets-work__link {
    gap: 60px;
  }

  .lets-work__title {
    font-size: 60px;
  }
}

@media (max-width: 767.98px) {
  .lets-work {
    padding-block: 50px;
  }

  .lets-work__circle {
    width: 160px;
  }

  .lets-work__circle::before {
    content: '';
    position: absolute;
    top: -5px;
    left: 10px;
    width: 170px;
  }

  .lets-work__title {
    font-size: 40px;
  }
}

@media (max-width: 650px) {
  .lets-work__link {
    gap: 30px;
  }

  .lets-work__circle {
    width: 100px;
    font-size: 16px;
  }

  .lets-work__circle::before {
    content: '';
    position: absolute;
    top: -5px;
    left: 5px;
    width: 110px;
  }

  .lets-work__title {
    font-size: 28px;
  }
}

/* FOOTER  */
.footer {
  padding-bottom: 50px;
}

.footer__container {
  max-width: 1290px;
}

.footer__body {
  display: flex;
  justify-content: space-between;
  gap: 40px;
  margin-bottom: 94px;
}

.footer__body:not(:last-child) {
  margin-bottom: 94px;
}

.footer__title {
  color: var(--text-primary);
  font-size: 100px;
  line-height: 0.9;
}

.footer__title:not(:last-child) {
  margin-bottom: 10px;
}

.footer__sub-title {
  font-size: 18px;
  line-height: 1.6;
  margin-left: 16.981132%; /* 81/477 */
}

.menu-footer__title {
  text-transform: uppercase;
  color: var(--text-primary);
  font-size: 30px;
  line-height: 1.2;
  margin-bottom: 50px;
}

.menu-footer__title {
  margin-bottom: 50px;
}

.menu-footer__item:not(:last-child) {
  margin-bottom: 20px;
}

.menu-footer__link {
  font-size: 18px;
  line-height: 1.6;
  transition: color 0.3s;
}

.menu-footer__link:hover {
  color: var(--text-primary);
}

/* Footer ADAPTIVE */
@media (max-width: 1430px) {
}
