:root {
  --text-default: #101010;
  --text-primary: #db574d;
  --text-muted: rgba(16, 16, 16, 0.6);
  --text-inverse: #ffffff;
}

body {
  font-family: 'ClashDisplay', sans-serif;
  color: var(--text-default);
}

body.lock {
  overflow: hidden;
}

.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  overflow: clip;
}

.wrapper > main {
  flex-grow: 1;
}

/* WRAPPER CONTAINER 1400px 
- every element that includes class "__container" */
[class*='__container'] {
  padding-inline: 15px;
  max-width: 1430px;
  margin: auto;
}

/* HEADER */

.header {
  z-index: 50;
  position: sticky;
  top: 0;
  padding-block: 50px;
  padding-inline: 40px;
  display: flex;
  gap: 15px;
  justify-content: space-between;
  align-items: center;
  pointer-events: none;
}

.header::before {
  content: '';
  height: 90px;
  width: 100%;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 4;
  background-color: rgba(255, 255, 255, 0.8);
}

.header__logo {
  position: relative;
  z-index: 5;
  line-height: 1.1;
  font-size: 24px;
  text-transform: uppercase;
  transition: color 0.3s;
  pointer-events: all;
}

.header__logo:hover {
  color: var(--text-primary);
}

.menu {
  pointer-events: all;
}

.menu__icon {
  width: 50px;
  height: 23px;
  position: relative;
  z-index: 5;
  pointer-events: all;
}

.menu__icon::before,
.menu__icon::after,
.menu__icon span {
  content: '';
  position: absolute;
  right: 0;
  width: 100%;
  height: 1px;
  background-color: var(--text-default);
  transition: all 0.3s;
}

.menu__icon::before {
  width: 50px;
  top: 0;
}

.menu__icon::after {
  width: 45px;
  bottom: 0;
}

.menu__icon span {
  width: 35px;
  top: 50%;
  margin-top: -0.5px; /*workaround for span position*/
}

.menu__icon:hover::before,
.menu__icon:hover::after,
.menu__icon:hover span {
  background-color: var(--text-primary);
}

.menu-open .menu__icon::before {
  rotate: -45deg;
  top: 50%;
}

.menu__icon small {
  aspect-ratio: 1;
  border-radius: 50%;
  opacity: 0;
  width: 0px;
  position: absolute;
  left: 50%;
  top: 50%;
  translate: -50% -50%;
  border: 1px solid var(--text-primary);
  transition: width 0.3s, opacity 0.3s;
}

.menu-open .menu__icon small {
  opacity: 1;
  width: 200px;
}

.menu-open .menu__icon::after {
  width: 50px;
  rotate: 45deg;
  bottom: 50%;
}

.menu-open .menu__icon span {
  width: 0;
}

.menu__body {
  padding: 0 0 40px 0;
  display: flex;
  flex-direction: column;
  overflow: auto;
  position: fixed;
  width: 100%;
  height: 100%;
  right: 0;
  top: 0;
  visibility: hidden;
  opacity: 0;
  background-color: #fff;
  transition: opacity 0.5s, visibility 0.5s;
}

.menu-open .menu__body {
  opacity: 1;
  visibility: visible;
}

.menu__list {
  padding-block: 70px;
  flex-grow: 1;
  display: flex;
  gap: 40px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  counter-reset: item;
}

.menu__item {
  display: flex;
  align-items: center;
  gap: 50px;
}

.menu__item::before {
  font-size: 30px;
  content: counter(item, decimal-leading-zero);
  counter-increment: item;
  color: var(--text-primary);
  transition: color 0.3s;
}

.menu__item:hover::before {
  color: var(--text-default);
}

.menu__link {
  font-size: 100px;
  line-height: 1.1;
  text-transform: uppercase;
  transition: color 0.3s;
}

.menu__link:hover {
  color: var(--text-primary);
}

/* HEADER ADAPTIVE */
@media (max-width: 1430px) {
  .header {
    padding-inline: 15px;
  }
}

@media (max-width: 991.98px) {
  .header {
    padding-block: 30px;
  }

  .header::before {
    height: 80px;
  }

  .menu__list {
    gap: 30px;
  }

  .menu__link {
    font-size: 70px;
  }

  .menu__item {
    gap: 40px;
  }
}

@media (max-width: 767.98px) {
  .header {
    padding-top: 15px;
  }

  .header::before {
    height: 50px;
  }

  .menu__list {
    gap: 20px;
  }

  .menu__link {
    font-size: 38px;
  }

  .menu__item {
    gap: 15px;
  }
}

@media (max-width: 550px) {
  .menu-open .menu__icon small {
    width: 80px;
  }
}

/* MAIN  */

/* HERO SECTION */

.hero {
  padding-top: 24px;
}

.hero:not(:last-child) {
  margin-bottom: 160px;
}

.hero__container {
  display: flex;
}

.hero__content {
  position: relative;
  /* 944.67(maket block title size) / 1400 (main container) = 67.4% */
  flex-basis: 67.4%;
  padding-top: 77px;
}

.hero__header {
  display: inline-block;
}

.hero__header:not(:last-child) {
  margin-bottom: 150px;
}

.hero__title {
  color: var(--text-primary);
  font-size: 200px;
  line-height: 0.9;
}

.hero__title:not(:last-child) {
  margin-bottom: 11px;
}

.hero__sub-title {
  color: var(--text-default);
  font-size: 60px;
  line-height: 1.1;
  text-transform: uppercase;
}

.hero__sub-title span {
  display: inline-block;
}

.hero__sub-title span:first-child {
  /* 20% - 180 (left margin span:first-child)/ 945 (title weight) */
  margin-left: 19%;
}

.hero__sub-title span:last-child {
  /* 20% - 273 (left margin span:last-child)/ 945 (title weight) */
  margin-left: 29%;
}

.author {
  display: flex;
  align-items: flex-end;
}

.author__image {
  aspect-ratio: 1;
  width: 180px;
  object-fit: cover;
}

.author__image:not(:last-child) {
  margin-bottom: 10px;
}

.author__caption {
  line-height: 1.6;
}

.author__action {
  background-color: var(--text-primary);
  aspect-ratio: 1;
  width: 140px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  text-transform: uppercase;
  color: var(--text-inverse);
  font-size: 18px;
  line-height: 1.2;
  /* btn move to left on 30px / btn size 140 = 21.42% */
  /* btn moves to bottom on 27px / btn sixe 140 = 19.28% */
  translate: -21.42% 19.28%;
}

.author__action::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 140px;
  aspect-ratio: 1;
  border-radius: 50%;
  border: 1px solid var(--text-primary);
  transition: all 0.3s;
}

.author__action:hover:before {
  width: 160px;
  left: 10px;
  top: -9px;
}

.hero__media {
  /* 32.5% = 100% - 67.4% (media block size) */
  flex-basis: 32.5%;
}

/* additional wrap for hero image */
.hero__body {
  /* add this margin to adaptive min 767.98 */
  /* margin-left: -65.25%; */
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.hero__image {
  width: 100%;
}

.scroll-hero {
  display: flex;
  gap: 21px;
  align-items: center;
  /* margin-right 100 / 751.54 (image size) = 13.31% */
  margin-right: 13.31%;
}

.scroll-hero::before {
  content: '';
  background: url(../assets/images/icons/arrow-down.svg) 0 bottom / 100%
    no-repeat;
  width: 20px;
  height: 88px;
}

.scroll-hero__label {
  line-height: 1.6;
  padding: 21px 0 15px 0;
  transition: color 0.3s;
}

.scroll-hero:hover {
  color: var(--text-primary);
}

/* HERO ADAPTIVE */

@media (max-width: 1430px) {
  .hero__content {
    padding-top: 50px;
  }

  .hero__title {
    font-size: 170px;
  }

  .hero__header:not(:last-child) {
    margin-bottom: 130px;
  }

  .hero__sub-title {
    font-size: 40px;
  }
}

@media (max-width: 1220px) {
  .hero__content {
    padding-top: 30px;
  }

  .hero__title {
    font-size: 140px;
  }

  .hero__header:not(:last-child) {
    margin-bottom: 80px;
  }

  .hero__sub-title {
    font-size: 30px;
  }
}

@media (max-width: 991.98px) {
  .hero {
    padding-top: 0;
  }

  .hero__header:not(:last-child) {
    margin-bottom: 50px;
  }

  .hero__content {
    padding-top: 10px;
  }

  .hero__title {
    font-size: 100px;
  }

  .hero__sub-title {
    font-size: 25px;
  }
}

@media (min-width: 767.98px) {
  .hero__body {
    margin-left: -65.25%;
  }
}

@media (max-width: 767.98px) {
  .hero__picture {
    display: none;
  }

  .hero__container {
    flex-direction: column;
  }

  .hero__content {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .hero__content::before {
    content: '';
    position: absolute;
    inset: 0;
    width: 100vw;
    margin-inline: calc(50% - 50vw);
    background-image: url(/assets/images/hero-block/main-photo.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -1;
  }

  .hero__title {
    font-size: 125px;
  }

  .hero__sub-title {
    font-size: 35px;
  }

  .author {
    align-self: flex-start;
  }

  .scroll-hero {
    gap: 12px;
    margin-right: 0%;
  }
}

@media (max-width: 650px) {
  .hero__title {
    font-size: 80px;
  }

  .hero__sub-title {
    font-size: 20px;
  }
}

@media (max-width: 430px) {
  .hero__title {
    font-size: 60px;
  }

  .hero__sub-title {
    font-size: 15px;
  }

  .author__image {
    width: 140px;
  }

  .author__caption {
    font-size: 15px;
  }

  .author__action {
    width: 130px;
    font-size: 15px;
    line-height: 1.2;
  }

  .author__action::before {
    content: '';
    width: 130px;
  }

  .author__action:hover:before {
    width: 140px;
    left: 7px;
    top: -6px;
  }

  .scroll-hero {
    gap: 5px;
  }

  .scroll-hero::before {
    content: '';
    width: 15px;
    height: 55px;
  }

  .scroll-hero__label {
    font-size: 15px;
    line-height: 1.2;
    padding: 10px 0 1px 0;
  }
}

@media (max-width: 360px) {
  .author__action {
    translate: -20% -3%;
  }
}

/* SERVICES BLOCK */
